<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron well">
                <h2>
                    Ticket's Information:
                </h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Seat Number
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Date of booking
                        </th>
                        <th>
                            Email address
                        </th>
                        <th>
                            Number of Seats
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Shreya Joshi
                        </td>
                        <td>
                            01/04/2016
                        </td>
                        <td>
                            shrea@gmail.com
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            1
                        </td>
                        <td>
                            Karan Patel
                        </td>
                        <td>
                            01/04/2016
                        </td>
                        <td>
                            karan.hellboy@yahoo.com
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            2
                        </td>
                        <td>
                            Siya Paul
                        </td>
                        <td>
                            02/04/2016
                        </td>
                        <td>
                            siyapaul@gmail.com
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            Mrinal Dhawan
                        </td>
                        <td>
                            03/04/2016
                        </td>
                        <td>
                            mdhawan@gmail.com
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            4
                        </td>
                        <td>
                            Anjali Sodani
                        </td>
                        <td>
                            04/04/2016
                        </td>
                        <td>
                            sodanianjali@gmail.com
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
